<h1>Listing users</h1>

<table class="table table-striped">
  <tr>
    <th>id</th>
    <th>Login</th>
    <th>Password</th>
    <th>Email</th>
    <th>Role</th>
    <th>Salt</th>
    <th>TwoStepAuth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to "#{user.login}", profile_path(user.id) %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= user.role.role %></td>
    <td><%= user.salt %></td>
    <td><%= user.two_step_auth %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div class="modal fade" id="myModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
    <h3>Login</h3>
    </div>
    <div class="modal-body">
        <%= form_tag("/sessions/show_code", :method => "get") do %>
  <%= label_tag(:login, "login:") %>
  <%= text_field_tag(:login) %><br>
  <%= label_tag(:password, "password:") %>
  <%= password_field_tag(:password) %><br>
  <%= label_tag(:password_confirmation, "password_confirmation:") %>
  <%= password_field_tag(:password_confirmation) %><br>
 

    </div>
    <div class="modal-footer">
        <a href="users" class="btn">Закрыть</a>
        <%= submit_tag("Enter") %>
    </div>
    <% end %>
</div>


<div class="pagination ">
    <ul>
        <li><%= will_paginate @users  %></li>
</ul>
</div><br>
<a href="/users/new" class="btn">New User</a>

