<!DOCTYPE html>
<html>
<head>
  <title>BssAuthenticationApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	    <div class="navbar">
	    	<div class="navbar-inner">
	    		<a class="brand" href="/users">Bss</a>
	 			<ul class="nav">
	 				<%if session[:user_id] == nil%>
					<li><a href="/sessions/new">login</a></li>
					<li ><a href="/users/new">Registration</a></li>
					<%else%>
					<li><a href="/sessions/destroy">logout</a></li>
					<li><%= @current_user.role.role %>: <%= @current_user.login %></li>
					<li><%= link_to "My Profile", profile_path(@current_user.id)%></li>
					<%end%>
					<li><a class="btn" data-toggle="modal" href="#myModal" >Login</a></li>
	 			</ul>
				
				<% flash.each do |key, value| %>
				<% if key == :msg %>
				     <div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<% end %>
	    	</div>
	    </div>


	<%= yield %>


	</div>
</body>
</html>
